*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body .main{
    height: 100%;
    width: 100%;
}

.total {
    box-shadow: 11px 11px 23px black;
    border-radius: 90px;
    margin: 108px 330px;
    background-color: rgba(255, 4, 134, 0.692);
    width: 50%;

}

.top{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    width: 50%;
    margin-left: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: aquamarine;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px black;
}

.task{
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    padding: 15px;
}

select{
    width: 20vw;
    height: 4vh;
    border-radius: 5px;
    padding: 15px;
    padding: 2px 5px;
}

.btn{
    height: 30px;
    width: 120px;
    border-radius: 10px;
    background-color: rgb(118, 199, 199);
}

.list >div{
    width: 40%;
    margin-left: 250px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    padding: 0px 10px;
}

.hr{
    margin-top: 50px;
    width: 1px;
}



@media screen and (max-width: 480px){
    .main{
        height: 100%;
        width: 100%;
    }

    .total{
        width: 100%;
        margin: 65px 0px ;
    }

    .todo{
        margin-left: 90px;
    }

    .list >div{
        margin-left: 80px;
        width: 60%;
    }
}














